body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color: #A9B4C2;
}

.underline-on-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.account-height {
  height: 550px;
}

.login-height {
  height: 550px;
  margin: 110px 0 0 0;
}

.app-title {
  color: #EEF1EF;
  font-weight: bold;
}

.login-button {
  width: 50%;
  border-radius: 25px;
  margin: auto;
  font-weight: bold;
  background-color: #A9B4C2;
  color: #1C2541;
  border: none;
}

.login-form {
  margin: 0 10px;
}

.submit-button {
  width: 40%;
  border-radius: 10px;
  margin: auto;
  font-weight: bold;
  background-color: #A9B4C2;
  color: #1C2541;
  border: none;
}

.account-window {
  height: 550px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
  margin-top: 150px;
  background-color:#0B132B;
}

.personal-buttons{
  position: relative;
  top: 141px;
}

.register {
  position: relative;
  padding: 0;
  height: 550px;
}

.register-nav {
  padding: 10px 15px;
}

.register-nav button {
  background-color: #1C2541;
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  width: 35px;
  margin: auto;
}

.register-nav button:hover {
  background-color: #A9B4C2;
}

.text-left-buddy {
  padding: 0 10px;
  text-align: left;
  color: #FFC107;
  font-size: 18px;
}

.text-left-buddy h5 {
  color: #FFC107;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.text-left-buddy p {
  font-size: 14px;
  color: #A9B4C2 !important;
}

.text-left {
  padding: 0 10px;
  text-align: left;
  color: #0070FF;
  font-size: 18px;
}

.text-left h5 {
  padding: 0;
  margin: 0;
}

.text-left p {
  font-size: 14px;
  color: #A9B4C2 !important;
}

.align-text-center h5 {
  color: #0070FF;
  margin: 0;
}

.pwd-verify {
  font-size: 14px;
}

.next-cancel-btn {
  padding: 0 10px;
}

.next-cancel-btn button {
  width: 45%;
  padding: 5px;
  margin: auto;
  border: none;
  border-radius: 10px;
  color: #0B132B;
  background-color: #A9B4C2;
  font-weight: bold;
  position: sticky;
}

.biography {
  position: relative;
  bottom: 45px;
}
.upload-btn {
  position: relative;
  bottom: 50px;
}
.profile-btns{
  position: relative;
  bottom: 40px;
}
.textarea {
  resize: none;
}
.complete-button {
  background-color: #0070FF !important;
}

.cancel-button {
  background-color: #FDC689 !important;
}

.active-nav-btn {
  background-color: #A9B4C2 !important;
}

.next-button:disabled {
  opacity: 30%;
}

.tags-search {
  padding: 0 10px;
  margin: auto;
}

.tags-search input {
  border: none;
  border-bottom: 2px solid #A9B4C2;
  border-radius: 5px;
}

.suggested-tags {
  padding: 0 25px;
}

.suggested-tags p {
  margin: 0;
}

.suggested-tags ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

.suggested-tags li {
  color: #EEF1EF;
  padding: 2px 5px;
  border-radius: 15px;
  list-style-type: none;
  display: inline-block;
  margin: 3px;
}

.green-tag {
  background-color: #00a651;
}

.blue-tag {
  background-color: #0070ff;
}

.suggested-tags li:hover {
  cursor: pointer;
}

.tags-header {
  padding: 0 10px;
  text-align: left;
  color: #0070FF;
  font-size: 18px;
}

.tags-header h5 {
  font-size: 19px;
  margin: 0;
}

.tags-header p {
  font-size: 14px;
  color: #A9B4C2 !important;
}

.selected-section {
  margin: 0 5px;
  background-color: #1C2541;
  border-radius: 5px;
  height: 120px;
}

.selected-section p {
  position: fixed;
}

.selected-tags {
  margin: 0 5px; 
  height: 90px;
  overflow-y: auto;
  overflow-x: hidden;
}

.selected-tags ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

.selected-tags li {
  background-color: #0070ff;
  color: #EEF1EF;
  padding: 2px 5px;
  border-radius: 15px;
  list-style-type: none;
  display: inline-block;
  margin: 3px;
}

.selected-tags li:hover {
  cursor: pointer;
}

.credentials-form {
  padding: 0px 20px;
}

::-webkit-scrollbar {
  width: 0px;
}

